.form-container{
  position: relative;
  margin: 8% auto;
  min-height: 60%;
  width: 20%;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
  background: white;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
  border-radius: 8px;
}
.title{
  display: block;
    margin-top: 23px;
    margin: 0 auto;
}
.form-input{
  display: block;
    margin: 0 auto;
    margin-bottom: 0.7rem;
    padding: 0.8rem;
    width: 50%;
    height: 12%;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 12px;
}
.button{
  
  background: rgb(140, 20, 196);
    color: white;
    background: #26408b;
    margin: 0 auto;
    margin-top: 1rem;
    width: 20%;
    height: 8%;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    padding: 2%;    
    justify-content: flex-end;
}